body{
    margin:0px;
}
.heading{
    background-color: black;
    display:inline-block;
    height:60px;
    width:1560px;
    position:fixed;
    top:0px;
}
.image1{
    width: 90px;
    height:60px;
}
.icon1,.icon2,.icon3,.icon4,.icon5,.icon6{
    text-decoration:none;
    color: antiquewhite;
    position:absolute;
    top:23px;
}
.icon1{
    left:800px;
}
.icon2{
    left:870px;
}
.icon3{
    left:980px;
}
.icon4{
    left:1050px;
}
.icon5{
    left:1140px;
}
.icon6{
    left:1250px;
}
.profile{
    width:350px;
    height:350px;
    border-radius:50%;
    position:absolute;
    top:10px;
    left:90px;
}
.photo{
    background-color: black;
    height:450px;
}
.text,.profile{
    padding:50px;
}
h2{
    text-align: center;
    text-decoration: underline;
}
.details{
    padding-right:200px;
    padding-left:200px;
    font-weight:400px;
    text-align: center;
}
footer{
    padding:20px;
    text-align: center;
    background:black;
    color:antiquewhite;
}
icon{
    position:absolute;
    bottom:200px;
}